.card {
  height: 330px;
  width: 260px;
  border: 1px solid #000;
  border-radius: 14px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.card-thumbnail {
  width: 95%;
  height: 65%;
  background: #d9d9d9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text {
  width: 100%;
  height: 35%;
  padding: 10px;
}

.card-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-row h5 {
  margin: 0;
}