#page-nation {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  width: 100%;
}

.page-btn {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background: #e0e7ff;
  font-size: 14px;
  border-radius: 8px;
}

.page-btn.is-active {
  background: #3b82f6; /* 파란색 */
  color: white;
  font-weight: bold;
}