<aside class="sidebar">
  <div class="logo">
    Logo
  </div>
  <nav class="sidebar-menu">
    <ul>
      <li>
        <a href="#">
          <span class="title">MyPage</span>
        </a>
      </li>
    </ul>
  </nav>

  <nav class="second-sidebar-menu">
    <ul style="font-size: 18px;">
      <li style="margin: 22px 0;">
        <a href="#">
          <span class="title">MyPage</span>
        </a>
      </li>
      <li style="margin: 22px 0">
        <a href="#">
          <span class="title">Notice</span>
        </a>
      </li>
      <li style="margin: 22px 0">
        <a href="#">
          <span class="title">Q.A</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>