@import './layout/header.css';
@import './layout/sidebar.css';
@import './ui/card.css';

body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.container {
  height: 100%;
}

.main-container {
  position: fixed;
  height: 100%;
  width: calc(100% - 300px);
  margin-top: 64px;
  margin-left: 300px;
}

.card-container {
  padding: 16px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}